@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
  user-select: none;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
}

#wrong {
  font-family: "Sixtyfour", sans-serif !important;
}
.question {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0px;
  background-color: white;
}

.shake {
  animation: name 0.3s linear forwards;
  color: white;
}

@keyframes name {
  0% {
    transform: translateX(0px);
    color: white;
  }
  25% {
    transform: translateX(10px);
    color: red;
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
    color: red;
  }
  100% {
    transform: translateX(0px);
    color: white;
  }
}

.good {
  position: absolute;
  inset: 0;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 4;
  font-size: 40px;
  opacity: 0;
  color: limegreen;
  pointer-events: none;
}

@keyframes good {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

.ani {
  animation: good 1s linear forwards;
}

.fix {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.694);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix button {
  background-color: #6563ff !important;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
}

.fix h1 {
  color: white;
}

.vi {
  visibility: hidden;
}
